<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title || "BookMuse" %></title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <%- include("partials/navbar") %>


  <main class="main-container">
    <%- body %>
  </main>

  <!-- Optional: Footer here -->
</body>
</html>
