<section class="book-page">
  <div class="top-bar">
    <h2>Your Favorite Books 💖</h2>
  </div>

  <% if (books.length > 0) { %>
    <ul class="book-list">
      <% books.forEach(book => { %>
        <%- include("../partials/bookCard", { book }) %>
      <% }) %>
    </ul>
  <% } else { %>
    <p class="no-books">No favorite books yet. Go fall in love with a few! 📚✨</p>
  <% } %>
</section>
